.navbar {
  background-color:rgb(27, 153, 236);
}

.nav-item {
  color: blue;
}

.navbar-brand {
  color: coral;
}

a {
  color: #f00;
}
a:hover {
  color: #0f0;
}
.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 500px;
  width: 100%;
}