.search {
  
  top: 35px;
  left: 25%;
  width: 100vw;
  
  margin-right: 100px;
}
.bigbox{
  margin-top: 0px;
}

.search > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 558px;
  padding: 10px;
  background-color: white;
  position: absolute;
  margin-left: 745px;
  margin-top: 372px;
  top: 380px;
}

.search > input {
  width: 558px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 420px;
  margin-top: 384px;
  border: none;
  margin-left:745px;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  position: absolute;
  left: 0;
  top: 480px;
  margin-top: 365px;
  margin-left: 745px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 558px;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
}
